In [1]:
import pandas as pd
import numpy as np
import re

In [42]:
df = pd.read_csv('players_data.csv')

In [43]:
df.head()

,NAME,AGE,OVA,POT,TEAM & CONTRACT,ID,HEIGHT,WEIGHT,FOOT,BOV,...,A/W,D/W,IR,BODY TYPE,PAC,SHO,PAS,DRI,DEF,PHY
0,A. Isak\nST,21,82,86,Real Sociedad\n2019 ~ 2026,233731,192cm,77kg,Right,84,...,High,Low,2,Unique,84,82,69,80,29,69
1,J. Gbamin\nCDM CM,25,76,76,PFC CSKA Moscow\n2019 ~ 2024,214947,186cm,83kg,Right,76,...,Medium,Medium,1,Normal (185+),73,57,72,73,76,74
2,Merino\nCM,25,83,87,Real Sociedad\n2018 ~ 2025,225193,189cm,83kg,Left,85,...,High,High,1,Normal (185+),74,78,81,82,82,81
3,21\n L. Dickmann\nRB RM,23,70,74,SPAL\n2019 ~ 2022,229456,177cm,70kg,Right,70,...,High,Medium,1,Normal (170-185),70,47,58,67,68,62
4,E. Tapsoba\nCB,22,80,86,Bayer 04 Leverkusen\n2020 ~ 2026,247263,194cm,85kg,Right,82,...,Medium,High,2,Normal (185+),73,54,65,69,82,79

In [44]:
df.columns

Index(['NAME', 'AGE', 'OVA', 'POT', 'TEAM & CONTRACT', 'ID', 'HEIGHT',
       'WEIGHT', 'FOOT', 'BOV', 'BP', 'GROWTH', 'JOINED', 'LOAN DATE END',
       'VALUE', 'WAGE', 'RELEASE CLAUSE', 'ATTACKING', 'CROSSING', 'FINISHING',
       'HEADING ACCURACY', 'SHORT PASSING', 'VOLLEYS', 'SKILL', 'DRIBBLING',
       'CURVE', 'FK ACCURACY', 'LONG PASSING', 'BALL CONTROL', 'MOVEMENT',
       'ACCELERATION', 'SPRINT SPEED', 'AGILITY', 'REACTIONS', 'BALANCE',
       'POWER', 'SHOT POWER', 'JUMPING', 'STAMINA', 'STRENGTH', 'LONG SHOTS',
       'MENTALITY', 'AGGRESSION', 'INTERCEPTIONS', 'POSITIONING', 'VISION',
       'PENALTIES', 'COMPOSURE', 'DEFENDING', 'MARKING', 'STANDING TACKLE',
       'SLIDING TACKLE', 'GOALKEEPING', 'GK DIVING', 'GK HANDLING',
       'GK KICKING', 'GK POSITIONING', 'GK REFLEXES', 'TOTAL', 'BASE STATS',
       'W/F', 'SM', 'A/W', 'D/W', 'IR', 'BODY TYPE', 'PAC', 'SHO', 'PAS',
       'DRI', 'DEF', 'PHY'],
      dtype='object')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 72 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NAME              100 non-null    object
 1   AGE               100 non-null    int64
 2   OVA               100 non-null    int64
 3   POT               100 non-null    int64
 4   TEAM & CONTRACT   100 non-null    object
 5   ID                100 non-null    int64
 6   HEIGHT            100 non-null    object
 7   WEIGHT            100 non-null    object
 8   FOOT              100 non-null    object
 9   BOV               100 non-null    int64
 10  BP                100 non-null    object
 11  GROWTH            100 non-null    int64
 12  JOINED            100 non-null    object
 13  LOAN DATE END     5 non-null      object
 14  VALUE             100 non-null    object
 15  WAGE              100 non-null    object
 16  RELEASE CLAUSE    100 non-null    object
 17  ATTACKING         100 non-null    int64
 18  CROSSING          100 non-null    int64
 19  FINISHING         100 non-null    int64
 20  HEADING ACCURACY  100 non-null    int64
 21  SHORT PASSING     100 non-null    int64
 22  VOLLEYS           100 non-null    int64
 23  SKILL             100 non-null    int64
 24  DRIBBLING         100 non-null    int64
 25  CURVE             100 non-null    int64
 26  FK ACCURACY       100 non-null    int64
 27  LONG PASSING      100 non-null    int64
 28  BALL CONTROL      100 non-null    int64
 29  MOVEMENT          100 non-null    int64
 30  ACCELERATION      100 non-null    int64
 31  SPRINT SPEED      100 non-null    int64
 32  AGILITY           100 non-null    int64
 33  REACTIONS         100 non-null    int64
 34  BALANCE           100 non-null    int64
 35  POWER             100 non-null    int64
 36  SHOT POWER        100 non-null    int64
 37  JUMPING           100 non-null    int64
 38  STAMINA           100 non-null    int64
 39  STRENGTH          100 non-null    int64
 40  LONG SHOTS        100 non-null    int64
 41  MENTALITY         100 non-null    int64
 42  AGGRESSION        100 non-null    int64
 43  INTERCEPTIONS     100 non-null    int64
 44  POSITIONING       100 non-null    int64
 45  VISION            100 non-null    int64
 46  PENALTIES         100 non-null    int64
 47  COMPOSURE         100 non-null    int64
 48  DEFENDING         100 non-null    int64
 49  MARKING           100 non-null    int64
 50  STANDING TACKLE   100 non-null    int64
 51  SLIDING TACKLE    100 non-null    int64
 52  GOALKEEPING       100 non-null    int64
 53  GK DIVING         100 non-null    int64
 54  GK HANDLING       100 non-null    int64
 55  GK KICKING        100 non-null    int64
 56  GK POSITIONING    100 non-null    int64
 57  GK REFLEXES       100 non-null    int64
 58  TOTAL             100 non-null    int64
 59  BASE STATS        100 non-null    int64
 60  W/F               100 non-null    int64
 61  SM                100 non-null    int64
 62  A/W               100 non-null    object
 63  D/W               100 non-null    object
 64  IR                100 non-null    int64
 65  BODY TYPE         100 non-null    object
 66  PAC               100 non-null    int64
 67  SHO               100 non-null    int64
 68  PAS               100 non-null    int64
 69  DRI               100 non-null    int64
 70  DEF               100 non-null    int64
 71  PHY               100 non-null    int64
dtypes: int64(58), object(14)
memory usage: 56.4+ KB

In [46]:
df['NAME'] = df['NAME'].apply(lambda x: re.split("[a-z]\n", x)[0]).apply(lambda x: x.split('\n')[1] if len(x.split('\n'))>1 else x)
df.NAME

0            A. Isa
1          J. Gbami
2             Merin
3        L. Dickman
4         E. Tapsob
          ...
95    V. Kristianse
96          R. Lavi
97        L. de Jon
98     Gabriel Jesu
99        Iñaki Peñ
Name: NAME, Length: 100, dtype: object

In [47]:
columns = df.select_dtypes(include='object').columns.values
for col in columns:
    print('This print is for the column : '+ col)
    print(df[col])
    print('===========================')

This print is for the column : NAME
0            A. Isa
1          J. Gbami
2             Merin
3        L. Dickman
4         E. Tapsob
          ...
95    V. Kristianse
96          R. Lavi
97        L. de Jon
98     Gabriel Jesu
99        Iñaki Peñ
Name: NAME, Length: 100, dtype: object
===========================
This print is for the column : TEAM & CONTRACT
0                Real Sociedad\n2019 ~ 2026
1              PFC CSKA Moscow\n2019 ~ 2024
2                Real Sociedad\n2018 ~ 2025
3                         SPAL\n2019 ~ 2022
4          Bayer 04 Leverkusen\n2020 ~ 2026
                      ...
95              F.C. København\n2020 ~ 2025
96             Manchester City\n2021 ~ 2023
97      FC Barcelona\nJun 30, 2022\nON LOAN
98             Manchester City\n2016 ~ 2023
99    Galatasaray SK\nJun 30, 2022\nON LOAN
Name: TEAM & CONTRACT, Length: 100, dtype: object
===========================
This print is for the column : HEIGHT
0     192cm
1     186cm
2     189cm
3     177cm
4     194cm
      ...
95    183cm
96    181cm
97    188cm
98    175cm
99    184cm
Name: HEIGHT, Length: 100, dtype: object
===========================
This print is for the column : WEIGHT
0     77kg
1     83kg
2     83kg
3     70kg
4     85kg
      ...
95    77kg
96    75kg
97    86kg
98    73kg
99    78kg
Name: WEIGHT, Length: 100, dtype: object
===========================
This print is for the column : FOOT
0     Right
1     Right
2      Left
3     Right
4     Right
      ...
95     Left
96    Right
97    Right
98    Right
99    Right
Name: FOOT, Length: 100, dtype: object
===========================
This print is for the column : BP
0      ST
1     CDM
2      CM
3      RB
4      CB
     ...
95     LB
96     CB
97     ST
98     ST
99     GK
Name: BP, Length: 100, dtype: object
===========================
This print is for the column : JOINED
0      Jul 1, 2019
1      Aug 2, 2019
2     Jul 12, 2018
3      Jul 1, 2019
4     Jan 31, 2020
          ...
95    Nov 28, 2020
96     Jan 1, 2021
97     Jul 1, 2019
98     Aug 3, 2016
99     Jul 1, 2018
Name: JOINED, Length: 100, dtype: object
===========================
This print is for the column : LOAN DATE END
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
          ...
95             NaN
96             NaN
97    Jun 30, 2022
98             NaN
99    Jun 30, 2022
Name: LOAN DATE END, Length: 100, dtype: object
===========================
This print is for the column : VALUE
0       €45M
1      €7.5M
2       €50M
3      €2.1M
4       €31M
       ...
95     €2.8M
96     €1.2M
97      €17M
98    €49.5M
99     €3.1M
Name: VALUE, Length: 100, dtype: object
===========================
This print is for the column : WAGE
0      €37K
1      €35K
2      €47K
3       €2K
4      €46K
      ...
95      €3K
96     €700
97     €34K
98    €150K
99     €34K
Name: WAGE, Length: 100, dtype: object
===========================
This print is for the column : RELEASE CLAUSE
0      €97.9M
1        €12M
2     €108.8M
3       €3.5M
4      €58.9M
       ...
95      €4.2M
96      €3.4M
97         €0
98     €95.3M
99         €0
Name: RELEASE CLAUSE, Length: 100, dtype: object
===========================
This print is for the column : A/W
0       High
1     Medium
2       High
3       High
4     Medium
       ...
95      High
96    Medium
97    Medium
98      High
99    Medium
Name: A/W, Length: 100, dtype: object
===========================
This print is for the column : D/W
0        Low
1     Medium
2       High
3     Medium
4       High
       ...
95    Medium
96      High
97      High
98      High
99    Medium
Name: D/W, Length: 100, dtype: object
===========================
This print is for the column : BODY TYPE
0               Unique
1        Normal (185+)
2        Normal (185+)
3     Normal (170-185)
4        Normal (185+)
            ...
95    Normal (170-185)
96    Normal (170-185)
97       Normal (185+)
98              Unique
99      Lean (170-185)
Name: BODY TYPE, Length: 100, dtype: object
===========================

In [48]:
df['TEAM'] = df['TEAM & CONTRACT'].apply(lambda x: x.split('\n')[0])

In [49]:
df['CONTRACT'] = df['TEAM & CONTRACT'].apply(lambda x: x.split('\n')[1])

In [50]:
x = df.HEIGHT.apply(lambda x: 1 if 'cm' in x else 0)
x.unique()

array([1], dtype=int64)

In [51]:
df['HEIGHT'] = df.HEIGHT.apply(lambda x: x.replace('cm','')).astype('float')
df.HEIGHT

0     192.0
1     186.0
2     189.0
3     177.0
4     194.0
      ...
95    183.0
96    181.0
97    188.0
98    175.0
99    184.0
Name: HEIGHT, Length: 100, dtype: float64

In [52]:
x = df.WEIGHT.apply(lambda x: 1 if 'kg' in x else 0)
x.unique()

array([1], dtype=int64)

In [53]:
df['WEIGHT'] = df.WEIGHT.apply(lambda x: x.replace('kg','')).astype('float')
df.WEIGHT

0     77.0
1     83.0
2     83.0
3     70.0
4     85.0
      ...
95    77.0
96    75.0
97    86.0
98    73.0
99    78.0
Name: WEIGHT, Length: 100, dtype: float64

In [58]:
def parse_value(value):
    value = value.replace('€','')
    if 'M' in value:
        x = float(value.replace('M',''))
    elif 'K' in value:
        x = float(value.replace('K',''))/1000
    else:
        x = float(value)
    return x

In [55]:
df['VALUE'] = df.VALUE.apply(lambda x: parse_value(x))
df.VALUE

0     45.0
1      7.5
2     50.0
3      2.1
4     31.0
      ...
95     2.8
96     1.2
97    17.0
98    49.5
99     3.1
Name: VALUE, Length: 100, dtype: float64

In [56]:
df['WAGE'] = df.WAGE.apply(lambda x: x.replace('€','').replace('K','')).astype(float)
df.WAGE

0      37.0
1      35.0
2      47.0
3       2.0
4      46.0
      ...
95      3.0
96    700.0
97     34.0
98    150.0
99     34.0
Name: WAGE, Length: 100, dtype: float64

In [59]:
df['RELEASE CLAUSE'] = df['RELEASE CLAUSE'].apply(lambda x: parse_value(x))
df['RELEASE CLAUSE']

0      97.9
1      12.0
2     108.8
3       3.5
4      58.9
      ...
95      4.2
96      3.4
97      0.0
98     95.3
99      0.0
Name: RELEASE CLAUSE, Length: 100, dtype: float64